<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE TO-DO LIST</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/todolist_vue.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <main id="app">
        <h1>Vue To-do List</h1>
        <h2>What need to be done</h2>

        <form name="newform" v-on:submit.prevent="addItem">
            <label for="newitem">提交代辦清單</label>
            <input type="text" name="newitem" id="newitem" v-model="newitem">
            <button type="submit">新增</button>
        </form>

        <template v-if="todo.length">

            <transition-group name="app" tag="ul">
                <li v-for="item in todoByStatus" v-bind:class="item.done ? 'done' : ''" v-bind:key="item.id">
                    <span class="label">{{item.label}}</span>
                    <div class="actions">
                        <button class="btn-picto" type="button" v-on:click="DoneOrUndone(item)"
                            v-bind:aria-label="item.done ? 'Undone' : 'Done'"
                            v-bind:title="item.done ? 'Undone' : 'Done'">
                            <i aria-hidden="true" class="material-icons">{{ item.done ? 'check_box' :
                                'check_box_outline_blank' }}</i>
                        </button>
                        <button class="btn-picto" type="button" v-on:click="deleteItem(item)" aria-label="Delete"
                            title="Delete">
                            <i aria-hidden="true" class="material-icons">delete</i>
                        </button>
                </li>
            </transition-group>

        </template>

        <p v-else class="emptylist">Your todo list is empty.</p>


    </main>

    <div class="wrap">
        <h1>To Do List</h1>
        <div class="container">
            <!-- 輸入任務 綁定task內容且新增任務到todo裡-->
            <input class="task" type="text" placeholder="your task" v-model="newTask" @keyup.enter="addTask(newTask)">
            <ul class="tasklist">
                <!-- 任務列表 從todo依序增加任務 -->
                <li v-for="item in todo" v-if="item.show">
                    <!-- 綁定class，條件checkbox打勾(compeleted = ture)，加上done的class -->
                    <div class="tasktxt" v-bind:class="{done: item.compeleted}">
                        <!-- 綁定checkbox內容 -->
                        <input class="check" type="checkbox" v-model="item.compeleted">
                        {{item.task}}
                    </div>
                    <!-- 刪除任務 消除預設事件且執行刪除-->
                    <a href="#" @click.prevent="removeTask(item)">Delet</a>
                </li>
            </ul>
            <div class="btnarea">
                <button class="btn" @click="allDone">All Done</button>
                <button class="btn" @click="showAll">All Task</button>
                <button class="btn" @click="showDone">Done</button>
                <button class="btn" @click="showDoing">Doing</button>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
        <script src="./js/todolist_vue.js"></script>
</body>

</html>